body{
  margin: 0;
  padding: 0;
}
/*colore testo*/
p{
  color: #000;
}



#panel-home > div > ul{
  margin: 0;
}
#panel-laCitta > div > ul{
  margin: 0;
}
#panel-chiese > div > ul{
  margin: 0;
}
#panel-monumenti > div > ul{
  margin: 0;
}
#panel-enogastronomia > div > ul{
  margin: 0;
}
#panel-cultura > div > ul{
  margin: 0;
}
#panel-itinerari > div > ul{
  margin: 0;
}
#panel-mappa > div > ul{
  margin: 0;
}
#panel-gallery > div > ul{
  margin: 0;
}
#panel-contatti > div > ul{
  margin: 0;
}
#panel-utility > div > ul{
  margin: 0;
}
#panel-home > div > ul{
  margin: 0;
}

div [data-role='listview'] li{
  padding: 0;
}
/*Allinea icone al testo*/
.material-icons{
  vertical-align: bottom;
}
/*azzero il padding nel panel*/
.ui-panel-inner{
  padding: 0;
}


/* --------- ICONE E FIRMA FOOTER ---------*/
.facebook{
  background-image: url("../img/social/facebook.png");
  background-position: center;
  border: 0;
  padding: 0;
  margin: 0;
  width: 18px;
  height: 18px;
}
.youtube{
  background-image: url("../img/social/youtube.png");
  background-position: center;
  border: 0;
  padding: 0;
  margin: 0;
  width: 18px;
  height: 18px;
}
.instagram{
  background-image: url("../img/social/instagram.png");
  background-position: center;
  border: 0;
  padding: 0;
  margin: 0;
  width: 18px;
  height: 18px;
}
.twitter{
  background-image: url("../img/social/twitter.png");
  background-position: center;
  border: 0;
  padding: 0;
  margin: 0;
  width: 18px;
  height: 18px;
}
.firma{
  color: white;
  font-weight: lighter;
  font-size: 70%;
  margin-bottom: 1%;
}
.icone{
  display:inline-block;
}
/* --------- ICONE E FIRMA FOOTER ---------*/
